<!--
Footer Component - Auto-loaded by components.js
All paths use {{BASE_PATH}} placeholder which gets replaced based on page location
-->
<footer class="footer_area">
    <div class="container container-menu">
        <div class="row">
            <div class="footer_item">
                <h3 class="footer_heading">Address & Contact</h3>
                <div class="footer_item_content">
                    <div class="footer_address">
                        <ul>
                            <li><span class="country_name">UK:</span> 61 Marcham Road,GU35 5UD,Bordon</li>
                            <li><span class="country_name">US:</span> 2270 Fieldcrest Road,New York</li>
                            <li><span class="country_name">BZ:</span> Rua Quatorze 1998, Minas Gerais</li>
                            <li><span class="country_name">AUS:</span> 70 Normans Road, Langkoop</li>
                            <li><span class="country_name">Mail:</span><a href="#"> example@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_item">
                <h3 class="footer_heading">Quick Links</h3>
                <div class="footer_item_content">
                    <div class="footer_link">
                        <ul>
                            <li><a href="{{BASE_PATH}}index.html">Home</a></li>
                            <li><a href="{{BASE_PATH}}company/about.html"> About us</a></li>
                            <li><a href="{{BASE_PATH}}services/service.html"> Services</a></li>
                            <li><a href="{{BASE_PATH}}work/work.html"> Our work</a></li>
                            <li><a href="{{BASE_PATH}}company/carrer.html"> Careers</a></li>
                            <li><a href="{{BASE_PATH}}company/contact.html"> Contact</a></li>
                            <li><a href="{{BASE_PATH}}services/data.html"> Personal data</a></li>
                            <li><a href="{{BASE_PATH}}company/partnership.html"> Become a partner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_item">
                <h3 class="footer_heading">Service</h3>
                <div class="footer_item_content">
                    <div class="footer_link">
                        <ul>
                            <li><a href="{{BASE_PATH}}services/development.html">Mobile app development </a></li>
                            <li><a href="{{BASE_PATH}}services/development.html">Web app development</a></li>
                            <li><a href="{{BASE_PATH}}services/product_design.html">Product design </a></li>
                            <li><a href="{{BASE_PATH}}services/consulting.html">Software development consulting </a>
                            </li>
                            <li><a href="{{BASE_PATH}}services/startup_detail.html">Startup DNA: Founder Starter Pack
                                </a></li>
                            <li><a href="{{BASE_PATH}}services/modierniztion_detail.html">Software modernization </a>
                            </li>
                            <li><a href="{{BASE_PATH}}services/mechine_detail.html">Machine learning & AI </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_item">
                <h3 class="footer_heading">Resource</h3>
                <div class="footer_item_content">
                    <div class="footer_link">
                        <ul>
                            <li><a href="{{BASE_PATH}}insights/insight.html">Expert discussions </a></li>
                            <li><a href="{{BASE_PATH}}insights/insight.html">What clients say </a></li>
                            <li><a href="{{BASE_PATH}}work/work.html">How we work </a></li>
                            <li><a href="{{BASE_PATH}}insights/insight.html">Insights </a></li>
                            <li><a href="{{BASE_PATH}}insights/blog.html">BLog</a></li>
                            <li><a href="{{BASE_PATH}}company/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end footer-area -->
<!--scroll-->
<div class="scroll-area">
    <i class="fa fa-angle-up"></i>
</div>